# Default ignored files
/../../../15.4.2025./zad 1/.idea/shelf/
/../../../15.4.2025./zad 1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../15.4.2025./zad 1/.idea/httpRequests/
# Datasource local storage ignored files
/../../../15.4.2025./zad 1/.idea/dataSources/
/../../../15.4.2025./zad 1/.idea/dataSources.local.xml
