# Default ignored files
/../../../11.3.2025./zad 1/.idea/shelf/
/../../../11.3.2025./zad 1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../11.3.2025./zad 1/.idea/httpRequests/
# Datasource local storage ignored files
/../../../11.3.2025./zad 1/.idea/dataSources/
/../../../11.3.2025./zad 1/.idea/dataSources.local.xml
