# Default ignored files
/../../../17.12.2024./zad 1/.idea/shelf/
/../../../17.12.2024./zad 1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../17.12.2024./zad 1/.idea/httpRequests/
# Datasource local storage ignored files
/../../../17.12.2024./zad 1/.idea/dataSources/
/../../../17.12.2024./zad 1/.idea/dataSources.local.xml
