# Default ignored files
/../../../8.4.2025./zad 3/.idea/shelf/
/../../../8.4.2025./zad 3/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../8.4.2025./zad 3/.idea/httpRequests/
# Datasource local storage ignored files
/../../../8.4.2025./zad 3/.idea/dataSources/
/../../../8.4.2025./zad 3/.idea/dataSources.local.xml
